body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

#container {
    border: 1px solid black;
}

#tabs {
    border: 1px solid red;
    height: 60px;
    width: 300px;
}

#app {
    border: 1px solid purple;
    height: 340px;
    width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#chat-container {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: 10px;

    -ms-overflow-style: none;
    scrollbar-width: none;

    scroll-behavior: smooth;
}

#chat-container::-webkit-scrollbar {
    display: none;
}

.wrapper {
    width: 100%;
    padding: 15px;
}

.ai {
    background: red;
}

.chat {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.message {
    flex: 1;
    color: #dcdcdc;
    font-style: 10px;
    overflow-x: scroll;
    white-space: pre-wrap;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.message::-webkit-scrollbar {
    display: none;
}

form {
    width: 95%;
    padding: 10px;
    margin: 0;
    background: blue;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

textarea {
    width: 100%;

    color: white;
    font-style: 10px;

    padding: 5px;
    background: transparent;
    border-radius: 5px;
    border: none;
    outline: none;
}

textarea::placeholder {
    color: white;
}

button {
    outline: 0;
    border: 0;
    width: 32px;
    border-radius: 2px;
    cursor: pointer;
}

#cat-box {
    border: 1px solid blue;
    height: 100px;
    width: 300px;
}

#canvas1 {
    height: 100px;
    width: 300px;
}


#cat {
    display: none;
}